<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <% include ../views/partials/_header %>
  </header>
  <h1>tinyURL: <a href="http://localhost:3000/u/<%= shortURL %>"> <%= shortURL %></a></h1>
  <p>CurrentURL: <a href="<%= fullURL %>"> <%= fullURL %></a></p>

  <form action="/urls/<%= shortURL %>/update" method="POST" style="padding-bottom: 50px">
    <label for="newURL">Update with new URL:</label>
    <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Update">
  </form>
  <form method="POST" action="/urls/<%= shortURL %>/delete" style="margin-bottom: 20px;">
        <input type="submit" value="Delete">
        </form>
   <a href="http://localhost:3000/urls/new">Shorten a new URL</a>

</body>
</html>